<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script language="JavaScript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet">

</head>
<body>
<div th:replace="publicItem/bar::topbar(currentUri='UserMana')"></div>
<div style="width: 700px;padding-top: 30px;margin: auto">
    <li><a th:href="@{/newUser}">添加用户</a></li>
    <table class="table table-bordered table-striped">
        <tr>
            <th>用户名</th>
            <th>操作</th>
        </tr>
        <tr th:each="user:${users}">
            <td>[[${user.username}]]</td>
            <td>
                <a th:href="@{/editUser/}+${user.id}">编辑</a>
                <a th:attr="del_uri=@{/user/}+${user.id}"  style="color: red">删除</a>
            </td>
        </tr>
    </table>
    <!--            这个表单用于删除按钮，无需显示-->
    <form id="deleteForm" method="post">
        <input type="hidden" name="_method" value="delete"/>
    </form>

    <div>
        <div>
            <a th:href="@{/manage(page=0, totalPage=${TotalPages})}">首页</a>
            <a th:href="@{/manage(page=${currentPage-1}, totalPage=${TotalPages})}">上一页</a>
            <a th:href="@{/manage(page=${currentPage+1}, totalPage=${TotalPages})}">下一页</a>
            <a th:href="@{/manage(page=${TotalPages-1})}">尾页</a>
        </div>
    </div>
</div>
<!--    删除操作表单的提交-->
<script>
    $(".del_btn").click(function(){
        $("#deleteForm").attr("action",$(this).attr("del_uri")).submit();
        return false;
    });
</script>
</body>
</html>