<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script language="JavaScript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet">

</head>
<body>
<div th:replace="publicItem/bar::topbar(currentUri='infoMana')"></div>
<div style="width: 700px;padding-top: 30px;margin: auto">
    <div>
        <form class="form-control-static" th:action="@{/userPwd}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <p><span><label>用户名：</label></span>[[${session.loginUser}]]</p>

            <label>原密码：</label>
            <input type="password" name="oldPwd" class="form-control" required>
            <label>新密码：</label>
            <input id="pwd1" type="password" name="newPwd" class="form-control" required>
            <label>再次输入新密码：</label>
            <input id="pwd2" type="password" name="newPwd2" class="form-control block-input" required>
            <button id="btn" class="btn btn-lg btn-primary" style="width: 70px;margin: auto">修改</button>
        </form>
        <p style="color:red" th:text="${errorPwd}" th:if="${not #strings.isEmpty(errorPwd)}"></p>
    </div>
</div>
<script type="text/javascript">
    $("#btn").click(function(){
        var pwd1 = $("input[name='newPwd']").val();
        var pwd2 = $("input[name='newPwd2']").val();
        if(pwd1 != pwd2) {
            alert("两次密码不一致");
            $("input[name='newPwd']").val("");
            $("input[name='newPwd2']").val("");
            return false;
        }
    });
</script>
</body>
</html>