<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
</head>
<body>
    <header>文章管理</header>
    <div>
        <ul>
            <li><a th:href="@{/arti}">添加文章</a> </li>
        </ul>
    </div>
    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>author</th>
                <th>Date</th>
                <th>Op</th>
            </tr>
            <tr th:each="arti:${articles}">
                <td>[[${arti.articleTitle}]]</td>
                <td>[[${arti.author}]]</td>
                <td>[[${arti.publishDate}]]</td>
                <td>
                    <button>edit</button>
                    <button>delete</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>