<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <link th:href="@{/css/bar.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/editormd/css/style.css}" />
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" />
</head>
<body>
    <div th:replace="publicItem/bar::topbar(currentUri='manage')"></div>
    <div>
<!--        <div th:replace="publicItem/bar::sidebar(page='new')"></div>-->
    </div>
<form method="post" th:action="@{/article}">
    <input type="hidden" name="_method" value="put"/>
<!--    这两个隐藏的输入框保存文章id和作者信息，并在提交时一起传递-->
    <input type="hidden" name="id" th:value="${article.id}">
    <input type="hidden" name="author" th:value="${article.author}">

    <input type="text" name="articleTitle" placeholder="Title" required="required" th:value="${article.articleTitle}">
    <div id="layout">
        <div id="test-editormd">
            <textarea style="display:none;" name="articleContent" th:text="${article.articleContent}"></textarea>
        </div>
    </div>
    <button type="submit">OK</button>
</form>

<script th:src="@{/editormd/js/jquery.min.js}"></script>
<script th:src="@{/editormd/js/editormd.min.js}"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "../editormd/lib/"
        });
    });
</script>
</body>
</html>