<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/bar.css}" rel="stylesheet">-->
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="publicItem/bar::topbar(currentUri='manage')"></div>
<!--    <header>shouye</header>-->
<!--    <a href="/index.html">index</a>-->
<!--    <div>-->
<!--        <ul>-->
<!--            <li><a th:href="@{/artis}">文章管理</a> </li>-->
<!--            <li><a th:href="@{/arti}">添加文章</a> </li>-->
<!--        </ul>-->
<!--    </div>-->
</body>
</html>
