<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script language="JavaScript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet">

</head>
<body>
<div style="height: 40px">
    <div th:replace="publicItem/bar::topbar(currentUri='artiMana')"></div>
</div>
    <div style="width: 700px;margin: auto">
        <!--        搜索框-->
        <div style="margin-bottom: 15px">
            <form style="display: flex" th:action="@{/article/search}" method="get">
                <input class="form-control" style="width: 70%" type="text" name="str" placeholder="Search..." th:value="${searchBox}!=null?${searchBox}">
                <button class="btn btn-primary btn-block" style="width: 70px;margin-left: 10px" type="submit">Search</button>
            </form>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>标题</th>
                <th>作者</th>
                <th>发布时间</th>
                <th>最后修改时间</th>
                <th>操作</th>
            </tr>
            <tr th:each="article:${articles.getContent()}">
                <td>[[${article.articleTitle}]]</td>
                <td>[[${article.author}]]</td>
                <td>[[${article.publishDate}]]</td>
                <td>[[${article.updateDate}]]</td>
                <td>
                    <a th:href="@{/article/}+${article.id}">编辑</a>
                    <button th:attr="del_uri=@{/article/}+${article.id}" class="del_btn" style="color: red">删除</button>
                </td>
            </tr>
        </table>
        <!--            这个表单用于删除按钮，无需显示-->
        <form id="deleteForm" method="post">
            <input type="hidden" name="_method" value="delete"/>
        </form>
<!--分页-->
        <div style="width: 250px;margin: auto">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <div>当前<span th:text="${articles.getNumber()} + 1"></span>
                        页,总<span th:text="${articles.totalPages}"></span>
                        页，共<span th:text="${articles.totalElements}"></span>
                        条记录
                    </div>
                    <a th:href="@{/article/search}">首页</a>
                    <a th:href="@{/article/search(page = ${articles.hasPrevious()} ? ${articles.getNumber() } : 1)}">上一页</a>
                    <a th:href="@{/article/search(page = ${articles.hasNext()} ? ${articles.getNumber()} + 2 : ${articles.totalPages})}">下一页</a>
                    <a th:href="@{/article/search(page = ${articles.totalPages})}">尾页</a>

                </ul>
            </nav>
        </div>
    </div>
<!--    删除操作表单的提交-->
    <script>
        $(".del_btn").click(function(){
            if(confirm("确认要删除吗？"))
                $("#deleteForm").attr("action",$(this).attr("del_uri")).submit();
            else return false;
        });
    </script>
</body>
</html>