<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link th:href="@{/css/bar.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="publicItem/bar::topbar(currentUri='index')"></div>

<!--    搜索框-->
    <div>
        <form th:action="@{/search}" method="get">
            <input type="text" name="str" placeholder="Search sth." th:value="${searchBox}!=null?${searchBox}">
            <button type="submit">Search</button>
        </form>
    </div>
<!--    -------->
    <div>
        <div th:each="article:${articles}">
            <ul>
                <li>
                    <a th:href="@{/arti(id=${article.id})}">[[${article.articleTitle}]]</a>
                </li>
                <li>[[${article.articleContent}]]</li>
                <li>[[${article.publishDate}]]</li>
                <li>[[${article.author}]]</li>
            </ul>
        </div>
        <div>
            <a th:href="@{/index(page=0, totalPage=${TotalPages})}">首页</a>
            <a th:href="@{/index(page=${currentPage-1}, totalPage=${TotalPages})}">上一页</a>
            <a th:href="@{/index(page=${currentPage+1}, totalPage=${TotalPages})}">下一页</a>
            <a th:href="@{/index(page=${TotalPages-1})}">尾页</a>
        </div>
    </div>
</body>
</html>