<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/bar.css}" rel="stylesheet">-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/assets/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body>
<div style="height: 60px">
    <div th:replace="publicItem/bar::topbar(currentUri='index')"></div>
</div>
<!--    <div th:each="arti:${articles}">-->
<!--        <li th:text="${arti.articleTitle}"></li>-->
<!--        <li th:text="${arti.articleContent}"></li>-->
<!--        <li th:text="${arti.author}"></li>-->
<!--        <li th:text="${arti.publishDate}"></li>-->
<!--    </div>-->
    <div style="width: 700px;margin: auto">
        <div th:each="article:${articles}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p style="font-size: 30px" >[[${article.articleTitle}]]</p>
                    <p>
                        [[${article.author}]]
                        <span>[[${article.publishDate}]]</span>
                    </p>
                    <p style="-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;">
                        [[${article.articleContent}]]
                        <span><a th:href="@{/arti(id=${article.id})}">查看全文</a></span>
                    </p>
                </div>

            </div>
<!--            <ul>-->
<!--                <li>-->
<!--                    <a th:href="@{/arti(id=${article.id})}">[[${article.articleTitle}]]</a>-->
<!--                </li>-->
<!--                <li>[[${article.articleContent}]]</li>-->
<!--                <li>[[${article.publishDate}]]</li>-->
<!--                <li>[[${article.author}]]</li>-->
<!--            </ul>-->
        </div>
        <div style="width: 250px;margin: auto">
            <nav aria-label="Page navigation" th:if="${TotalPages}>1">
                <ul class="pagination">
                    <li ><a th:href="@{/index(page=0, totalPage=${TotalPages})}">首页 </a></li>
                    <li th:if="${currentPage}-1>=0"><a th:href="@{/index(page=${currentPage-1}, totalPage=${TotalPages})}">上一页</a></li>
                    <li th:if="${TotalPages}-${currentPage}>=2"><a th:href="@{/index(page=${currentPage+1}, totalPage=${TotalPages})}">下一页</a></li>
                    <li ><a th:href="@{/index(page=${TotalPages-1})}">尾页</a></li>
                </ul>
            </nav>
        </div>

    </div>
</body>
</html>