<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <form th:action="@{/user/login}" method="post">
        <input type="text" name="username" placeholder="Uername" required="required">
        <input type="password" name="password" placeholder="Password" required="required">
        <button type="submit">Login</button>
    </form>
    <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
</body>
</html>