<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body class="text-center">
    <form th:action="@{/user/login}" method="post" class="form-signin">
        <input type="text" name="username" class="form-control" placeholder="Uername" required="required">
        <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        <p class="text-center" style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
    </form>
</body>
</html>